<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand p-3" href="/">EJS</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/sobre" class="nav-link">Sobre</a>
            </li>
        </ul>
    </nav>
    <p>Página: <%= typeof pagina !== 'undefined' ? pagina: 'Home' %></p>
</header>